.admin {
    width: 984px;


    h3 {
        font-size: 24px;
        padding-right: 50px;
    }

    .more {
        color: $success;

    }

    .bb-gray-900 {
        border-bottom: 1px solid $gray-900;
    }

    .bb-gray-400 {
        border-bottom: 1px solid $gray-400;
    }

    .table> :not(caption)>*>* {
        padding: 13px 8px;
    }

    .arrow {
        padding: 5px 4px;
    }


    .page-link {
        border-radius: 0;
    }

    .page-link:hover {
        border: 1px solid $success;
        background-color: $success;
        color: white;
    }

    .arrow:hover {
        border: 1px solid $gray-400;
        background-color: $gray-400;
    }

    .active_2 {
        border: 1px solid $success;
        background-color: $success;
        color: white;
    }
}



.info {
    width: 285px;
}

.modalPic {
    width: 141px;
    height: 141px;
}

.bg-gray {
    background: $gray-100;
}

input[type=text],
input[type=email] {
    border: 0;
    background-color: $gray-100;
}

.form-check-input:checked {
    background-color: $success;
    border-color: $success;
    border-radius: 50%;
}

.btn-outline-secondary {
    border-color: $gray-400;
    color: $gray-400;
}

.modal-footer>* {
    margin: 0;
}

.accordion {
    padding-right: 4px;
}

.accordion-body {
    padding: 0;
}

.accordion-button {
    padding: 0;
}

.accordion-button:not(.collapsed) {
    color: $gray-900;
    background-color: #fff;
}