.fz-12 {
    font-size: 12px;
}

.fz-14 {
    font-size: 14px;
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.lh-15 {
    line-height: 15px;
}

.lh-19 {
    line-height: 19px;
}


.lh-20 {
    line-height: 20px;
}

.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.lh-29 {
    line-height: 29px;
}

.gray-600 {
    color: $gray-600;
}

.gray-400 {
    color: $gray-400;
}

.gray-900 {
    color: $gray-900;
}

.fz-14 {
    font-size: $font-size-sm;
}

.robotoMono {
    font-family: 'Roboto Mono', monospace;
    color: $success;
    background-color: $gray-100;
}

.Assignment {
    width: 984px;

    .title {
        line-height: 33px;
    }

    h3 {
        font-size: 24px;
        padding-right: 50px;
    }

    .more {
        color: $success;
    }

    .list {
        width: 320px;
    }

    .active {
        background-color: $gray-100;
        color: $gray-900;
        border-color: $gray-400;
    }

    .content {
        width: 584px;
    }

    .comment,
    .list-group {
        border-radius: 0;
        border-color: $gray-400;

        .list-group-item {
            padding: 11px;
        }

        .userName,
        .subject {
            line-height: 19px;
        }

        .userTime {
            font-size: 14px;
            line-height: 17px;
            color: $gray-600;
        }

    }

    .comment {
        border: 1px solid $gray-400;
        border-top: 0;
        padding: 15px 32px 10px 64px;


        .chat {
            position: relative;

        }

        .chat:nth-child(1) {
            border-bottom: 1px solid $gray-400;
        }

        .pic,
        .pic2 {
            position: absolute;
            left: -48px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .pic {
            background: url(../images/emilywang.jpeg) no-repeat center;
            background-size: cover;
        }

        .pic2 {
            background: url(../images/andychen.jpeg) no-repeat center;
            background-size: cover;
        }

        .btn {
            border-radius: 0;
            border-color: $gray-400;
            background-color: $gray-100;
            padding: 7px 16px 7px 11px;
        }
    }

    .read,
    .reply {
        border: 1px solid $success;
    }
}